{% extends "base.html" %}
{% block TITLE %}Inicio{% endblock %}
{% block content %}
	<div class="page-header">
	  <h1>Django Blog <small>Welcome to my Blog</small></h1>
	</div>
	<p class="lead">This is a Django basic blog, Enjoy it!</p>
	<div class="post">
		<strong>{{ post.title }}</strong>
		<small>{{ post.date_added }}</small> by <strong>{{ post.user }}</strong>
		<div>{{ post.content|safe }}</div>
		<div class="likes">
			<a href="#"><span class="glyphicon glyphicon-heart-empty"></span></a> |
			<strong>likes:</strong>
			{% for user_liked in post.users_likes.all %}
				{{ user_liked.username }},
			{% endfor %}
		</div>
	</div>
	<div class="comments">
		<strong>Comments:</strong>
		<ul id="commentList" class="list-unstyled">
		{% for c in comments %}
			<li class="comment">
				<strong>{{ c.user.username }}</strong>
				<small>{{ c.date_added }}</small>
				<div>{{ c.comment|safe }}</div>
			</li>
		{% endfor %}
		</ul>
		<div class="comment">
			<div id="response"></div>
			<form id="commentForm" action="" method="post">{% csrf_token %}
				<textarea name="comment" id="newComment" rows="2" placeholder="Esribe un comentario"></textarea>
				<input type="submit" value="comentar" class="btn btn-primary" >
			</form>
		</div>
	</div>
{% endblock %}

{% block style %}
	<style type="text/css">
		.post{background-color: #fafafa;border: solid thin #dadada;padding: 10px; }
		.likes{border-top: solid thin #dadada;margin-top: 5px;padding-top: 10px;}
		.comments{margin: 10px;}
		.comment{background-color: #fcfcfc;border: solid thin #dadada;margin-bottom: 3px;padding: 10px;width: 320px;}
		#newComment{margin-bottom: 3px; border:solid thin #ddd; width: 100%;}
	</style>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#commentForm").on("submit", function (e) {
				e.preventDefault();
				e.stopPropagation();
				var form = $(this);
				$.post(
			        "{% url 'new_comment' post.pk %}", //url
			        form.serialize(), //data
			        function(data) {      //success method
			        	console.log(data);
			        	if(data.sent){
			            	$('#commentList').append('<li class="comment">'+
								'<strong>{{ user.username }}</strong>'+
								' <small>now</small>'+
								'<div>'+ $('#newComment').val() +'</div>'+
							'</li>');
			            	$('#newComment').val("");

			        	}
			        	if (data.error){
			            	$('#response').html('<span>' + data.error + '</span>');
			        	}
			        }
			    );
			});
		});
	</script>
{% endblock %}